<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <!-- Bootstrap core CSS-->
    <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--  for bootstrap switch -- -->
    <link href="/css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css" rel="stylesheet">
    <!-- main css -->
    <link rel="stylesheet" href="/css/main.css">