<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="user-message user-message--error">
        <h1>Some errors occurred</h1>
        <p>we're working on fixing this ,sorry for the inconvenience</p>
    </div>

<%- include('includes/end.ejs') %>